.delete-bucketlist {
    padding: 5px;
    font-weight: 50px;
    cursor: pointer;
    width: 10px;
}
.delete-bucketlist:hover {
    color: red;
}
.bucketlist {
    margin-top: 5px;
    margin-bottom: 5px
  }
  .cardtitle, .cardfooter {
    text-align: center
  }
  