.bucketlist-details {
    padding: 10px;
    text-align: center;
}
.delete-item {
    padding: 5px;
    font-weight: 50px;
    cursor: pointer;
    width: 10px;
}
.delete-item:hover {
    color: red;
}
.bucketlist {
    margin-top: 5px;
    margin-bottom: 5px
  }
  
  .cardlink {
    color: grey;
    text-align: center
  }
  .cardtitle, .cardfooter {
    text-align: center
  }
  .cardtext >* {
      margin-right: 10px
  }